# Ignore all but the important 'Thesis' files
Thesis*
!Thesis.cls
!Thesis.ipynb
!Thesis.pdf
!Thesis.py
!Thesis.tex

# Misc files/folders that aren't crucial to rerun Thesis.tex
.vscode/
*/*.aux
*.log
*/submission documents/

# Don't track ipynb
*.ipynb